extends _layout

block main
	section.section.breadcrumbs
		.container
			.breadcrumbs__row
				a(href="#").breadcrumbs__link Главная
				a(href="#").breadcrumbs__link Онлайн-мероприятия
				a(href="#").breadcrumbs__link Командный дух и здоровый образ жизни

	section.section.article
		.container
			.article__container
				.article__img-wrapper
					img.article__img(src="assets/img/events-img-01.jpg", alt="")
				.article__info
					h2.h2.article__title Вебинар со страховой: возможности для сотрудников
					p.article__date.caption 25.09.2024
				p Кстати, активно развивающиеся страны третьего мира могут быть подвергнуты целой серии независимых исследований. Не следует, однако, забывать, что новая модель организационной деятельности играет важную роль в формировании соответствующих условий активизации.
				p Мы вынуждены отталкиваться от того, что синтетическое тестирование является качественно новой ступенью новых предложений. Каждый из нас понимает очевидную вещь: укрепление и развитие внутренней структуры говорит о возможностях системы массового участия.
				p Также как сплочённость команды профессионалов выявляет срочную потребность форм воздействия.
				blockquote Мы вынуждены отталкиваться от того, что синтетическое тестирование является качественно новой ступенью новых предложений. Каждый из нас понимает очевидную вещь: укрепление и развитие внутренней структуры говорит о возможностях системы массового участия.
				p Кстати, активно развивающиеся страны третьего мира могут быть подвергнуты целой серии независимых исследований. Не следует, однако, забывать, что новая модель организационной деятельности играет важную роль в формировании соответствующих условий активизации.
				figure
					img(src="assets/img/article-img-01.jpg", alt="")
					figcaption Подпись к фотографии на детальной странице новости
				p Также как сплочённость команды профессионалов выявляет срочную потребность форм воздействия.
				p Мы вынуждены отталкиваться от того, что синтетическое тестирование является качественно новой ступенью новых предложений. Каждый из нас понимает очевидную вещь: укрепление и развитие внутренней структуры говорит о возможностях системы массового участия.
			.hero-aside
				button.hero-aside__button.button(data-modal-open="callback-idea-news") Предложить новость
				.hero-aside__slider
					.hero-aside-slide
						p.hero-aside-slide__caption.caption 25 июля, 12:31
						p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
					.hero-aside-slide
						p.hero-aside-slide__caption.caption 25 июля, 12:31
						p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
					.hero-aside-slide
						p.hero-aside-slide__caption.caption 25 июля, 12:31
						p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
					.hero-aside-slide
						p.hero-aside-slide__caption.caption 25 июля, 12:31
						p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
					.hero-aside-slide
						p.hero-aside-slide__caption.caption 25 июля, 12:31
						p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
					.hero-aside-slide
						p.hero-aside-slide__caption.caption 25 июля, 12:31
						p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
					.hero-aside-slide
						p.hero-aside-slide__caption.caption 25 июля, 12:31
						p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
					.hero-aside-slide
						p.hero-aside-slide__caption.caption 25 июля, 12:31
						p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
					.hero-aside-slide
						p.hero-aside-slide__caption.caption 25 июля, 12:31
						p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре

	section.section.other-news
		.container
			.section__header
				h2.h2.section__title Другие новости
			.other-news-swiper.swiper
				.swiper-wrapper
					.news-card.swiper-slide
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
					.news-card.swiper-slide
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
					.news-card.swiper-slide
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
					.news-card.swiper-slide
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
					.news-card.swiper-slide
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
					.news-card.swiper-slide
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
				.swiper-pagination.swiper-pagination--active
