extends _layout

block main
	section.section.breadcrumbs
		.container
			.breadcrumbs__row
				a(href="#").breadcrumbs__link Главная
				a(href="#").breadcrumbs__link Онлайн-мероприятия

	section.section.events
		.container
			.section__header
				h2.h2.section__title(data-count="14") Онлайн-мероприятия
			.events__page
				.events-cell
					.events-cell__img-wrapper
						img(src="assets/img/events-img-04.jpg", alt="").events-cell__img
					.events-cell__info
						.events-cell__schedule
							p.events-cell__date.caption 25 октября,
							p.events-cell__time.caption 12:00
						p.events-cell__text Вебинар со страховой: возможности для сотрудников
				.events-cell
					.events-cell__img-wrapper
						img(src="assets/img/events-img-04.jpg", alt="").events-cell__img
					.events-cell__info
						.events-cell__schedule
							p.events-cell__date.caption 25 октября,
							p.events-cell__time.caption 12:00
						p.events-cell__text Вебинар со страховой: возможности для сотрудников
				.events-cell
					.events-cell__img-wrapper
						img(src="assets/img/events-img-04.jpg", alt="").events-cell__img
					.events-cell__info
						.events-cell__schedule
							p.events-cell__date.caption 25 октября,
							p.events-cell__time.caption 12:00
						p.events-cell__text Вебинар со страховой: возможности для сотрудников
				.events-cell
					.events-cell__img-wrapper
						img(src="assets/img/events-img-04.jpg", alt="").events-cell__img
					.events-cell__info
						.events-cell__schedule
							p.events-cell__date.caption 25 октября,
							p.events-cell__time.caption 12:00
						p.events-cell__text Вебинар со страховой: возможности для сотрудников
				.events-cell
					.events-cell__img-wrapper
						img(src="assets/img/events-img-04.jpg", alt="").events-cell__img
					.events-cell__info
						.events-cell__schedule
							p.events-cell__date.caption 25 октября,
							p.events-cell__time.caption 12:00
						p.events-cell__text Вебинар со страховой: возможности для сотрудников
				.events-cell
					.events-cell__img-wrapper
						img(src="assets/img/events-img-04.jpg", alt="").events-cell__img
					.events-cell__info
						.events-cell__schedule
							p.events-cell__date.caption 25 октября,
							p.events-cell__time.caption 12:00
						p.events-cell__text Вебинар со страховой: возможности для сотрудников
				.events-cell
					.events-cell__img-wrapper
						img(src="assets/img/events-img-04.jpg", alt="").events-cell__img
					.events-cell__info
						.events-cell__schedule
							p.events-cell__date.caption 25 октября,
							p.events-cell__time.caption 12:00
						p.events-cell__text Вебинар со страховой: возможности для сотрудников
				.events-cell
					.events-cell__img-wrapper
						img(src="assets/img/events-img-04.jpg", alt="").events-cell__img
					.events-cell__info
						.events-cell__schedule
							p.events-cell__date.caption 25 октября,
							p.events-cell__time.caption 12:00
						p.events-cell__text Вебинар со страховой: возможности для сотрудников
				.events-cell
					.events-cell__img-wrapper
						img(src="assets/img/events-img-04.jpg", alt="").events-cell__img
					.events-cell__info
						.events-cell__schedule
							p.events-cell__date.caption 25 октября,
							p.events-cell__time.caption 12:00
						p.events-cell__text Вебинар со страховой: возможности для сотрудников
				.events-cell
					.events-cell__img-wrapper
						img(src="assets/img/events-img-04.jpg", alt="").events-cell__img
					.events-cell__info
						.events-cell__schedule
							p.events-cell__date.caption 25 октября,
							p.events-cell__time.caption 12:00
						p.events-cell__text Вебинар со страховой: возможности для сотрудников

	section.section.pagination
		.container
			.pagination__row
				button.pagination__button
					<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.59644 12.5469L3.54977 8.50021L7.59644 4.45354" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M12.4504 8.5L3.56393 8.5" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				.pagination__links
					a(href="#").pagination__button 1
					a(href="#").pagination__button 2
					a(href="#").pagination__button.pagination__button--active 3
					a(href="#").pagination__button 4
					a(href="#").pagination__button 5
				button.pagination__button
					<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.40356 12.5469L12.4502 8.50021L8.40356 4.45354" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M3.54956 8.5L12.4361 8.5" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
