extends _layout

block main
	section.section.breadcrumbs
		.container
			.breadcrumbs__row
				a(href="#").breadcrumbs__link Главная
				a(href="#").breadcrumbs__link Новости

	section.section.news
		.container
			.section__header
				h2.h2.section__title(data-count="14") Новости
			.news__grid
				.news__page
					.news-card.news-card--main
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
					.news-card
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
					.news-card
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
					.news-card
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
					.news-card
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
					.news-card
						.news-card__image-wrapper
							img(src="assets/img/hero-img-01.png", alt="").news-card__image
						.news-card__content
							.news-card__info
								p.news-card__title.body-2 Командный дух и здоровый образ жизни
								p.news-card__date.caption 25.09.2024
							p.news-card__text.body-2 Как рассказала женщина, питомцу по кличке Соня около четырех лет, раньше она жила в приюте. Татьяна забрала ее оттуда и выходила, но позднее животное отправили на временную передержку в город Заполярный, недалеко от
							a.news-card__button.base-button.base-button--outline Подробнее
				.hero-aside
					button.hero-aside__button.button(data-modal-open="callback-idea-news") Предложить новость
					.hero-aside__slider
						.hero-aside-slide
							p.hero-aside-slide__caption.caption 25 июля, 12:31
							p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
						.hero-aside-slide
							p.hero-aside-slide__caption.caption 25 июля, 12:31
							p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
						.hero-aside-slide
							p.hero-aside-slide__caption.caption 25 июля, 12:31
							p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
						.hero-aside-slide
							p.hero-aside-slide__caption.caption 25 июля, 12:31
							p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
						.hero-aside-slide
							p.hero-aside-slide__caption.caption 25 июля, 12:31
							p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
						.hero-aside-slide
							p.hero-aside-slide__caption.caption 25 июля, 12:31
							p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
						.hero-aside-slide
							p.hero-aside-slide__caption.caption 25 июля, 12:31
							p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
						.hero-aside-slide
							p.hero-aside-slide__caption.caption 25 июля, 12:31
							p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре
						.hero-aside-slide
							p.hero-aside-slide__caption.caption 25 июля, 12:31
							p.hero-aside-slide__text.body-2 Выходные и праздничные дни в ноябре

	section.section.pagination
		.container
			.pagination__row
				button.pagination__button
					<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.59644 12.5469L3.54977 8.50021L7.59644 4.45354" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M12.4504 8.5L3.56393 8.5" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
				.pagination__links
					a(href="#").pagination__button 1
					a(href="#").pagination__button 2
					a(href="#").pagination__button.pagination__button--active 3
					a(href="#").pagination__button 4
					a(href="#").pagination__button 5
				button.pagination__button
					<svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M8.40356 12.5469L12.4502 8.50021L8.40356 4.45354" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M3.54956 8.5L12.4361 8.5" stroke="#494949" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
