extends _layout

block main
	section.section.breadcrumbs
		.container
			.breadcrumbs__row
				a(href="#").breadcrumbs__link Главная
				a(href="#").breadcrumbs__link Опросы
				a(href="#").breadcrumbs__link Вебинар со страховой: возможности для сотрудников

	section.section.quiz
		.container.container--small
			.quiz-content.quiz-content--active
				.quiz-content__img-wrapper
					img.quiz-content__img(src="assets/img/events-img-01.jpg", alt="")
				h2.h2.quiz-content__title Вебинар со страховой: возможности для сотрудников
				p.quiz-content__schedule 5 вопросов
				p Кстати, активно развивающиеся страны третьего мира могут быть подвергнуты целой серии независимых исследований. Не следует, однако, забывать, что новая модель организационной деятельности играет важную роль в формировании соответствующих условий активизации.
				p Мы вынуждены отталкиваться от того, что синтетическое тестирование является качественно новой ступенью новых предложений. Каждый из нас понимает очевидную вещь: укрепление и развитие внутренней структуры говорит о возможностях системы массового участия.
				p Также как сплочённость команды профессионалов выявляет срочную потребность форм воздействия.
				button.base-button.quiz-content__button#quizStart
					| Начать
					<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M10.5044 4.94141L15.5627 9.99974L10.5044 15.0581" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
						<path d="M4.43701 10L15.5452 10" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
					</svg>
			.quiz__main
				p.quiz__steps.body-1
					span#currentStep 1
					| из
					span#maxSteps 5
				form.quiz-form
					.quiz-form__step.quiz-form__step--active
						.quiz-block
							.quiz-block__description
								h3.quiz-block__title.h3 Тайм-менеджмент, успеваете ли вы реализовать задачи в запланированный график? *
								p.quiz-block__text.body-2 Также как сплочённость команды профессионалов выявляет срочную потребность форм воздействия.
							input.base-input(placeholder="Ваш ответ..." type="text" required)
					.quiz-form__step
						.quiz-block
							.quiz-block__description
								h3.quiz-block__title.h3 Тайм-менеджмент, успеваете ли вы реализовать задачи в запланированный график? *
							input.base-input(placeholder="Ваш ответ..." type="date" required)
						.quiz-block
							.quiz-block__description
								h3.quiz-block__title.h3 Опасные/Безопасные действия или условия? *
							.base-select
								input(type="hidden")
								.base-select__header
									span Выбрать
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2.72027 5.63379L7.06694 9.98046C7.58027 10.4938 8.42027 10.4938 8.93361 9.98046L13.2803 5.63379" stroke="#969696" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								.base-select__list
									.base-select__item(data-value="1") Option 1
									.base-select__item(data-value="2") Option 2
									.base-select__item(data-value="3") Option 3
									.base-select__item(data-value="4") Option 4
						.quiz-block
							.quiz-block__description
								h3.quiz-block__title.h3 Тайм-менеджмент, успеваете ли вы реализовать задачи в запланированный график? *
							.base-radios
								label.base-radio
									input(type="radio" name="radio" required)
									.base-radio__box
									p.base-radio__text Опасные действия
								label.base-radio
									input(type="radio" name="radio" required)
									.base-radio__box
									p.base-radio__text Опасные действия
								label.base-radio
									input(type="radio" name="radio" required)
									.base-radio__box
									p.base-radio__text Безопасные действия
								label.base-radio
									input(type="radio" name="radio" required)
									.base-radio__box
									p.base-radio__text Безопасные условия
					.quiz-form__step
						.quiz-block
							.quiz-block__description
								h3.quiz-block__title.h3 Тайм-менеджмент, успеваете ли вы реализовать задачи в запланированный график? *
							.base-checkboxes
								label.base-checkbox
									input(type="checkbox" name="checkbox")
									.base-checkbox__box
									p.base-checkbox__text Опасные действия
								label.base-checkbox
									input(type="checkbox" name="checkbox")
									.base-checkbox__box
									p.base-checkbox__text Опасные действия
								label.base-checkbox
									input(type="checkbox" name="checkbox")
									.base-checkbox__box
									p.base-checkbox__text Безопасные действия
								label.base-checkbox
									input(type="checkbox" name="checkbox")
									.base-checkbox__box
									p.base-checkbox__text Безопасные условия
					.quiz-form__step
						.quiz-block
							.quiz-block__description
								p.quiz-block__suptitle Необязательно к заполнению
								h3.quiz-block__title.h3 Опасные/Безопасные действия или условия? *
							.base-select
								input(type="hidden")
								.base-select__header
									span Выбрать
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M2.72027 5.63379L7.06694 9.98046C7.58027 10.4938 8.42027 10.4938 8.93361 9.98046L13.2803 5.63379" stroke="#969696" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								.base-select__list
									.base-select__item(data-value="1") Option 1
									.base-select__item(data-value="2") Option 2
									.base-select__item(data-value="3") Option 3
									.base-select__item(data-value="4") Option 4
					.quiz-form__step
						.quiz-block
							.quiz-block__description
								h3.quiz-block__title.h3 Тайм-менеджмент, успеваете ли вы реализовать задачи в запланированный график? *
							input.base-input(placeholder="Ваш ответ..." type="text" required)
					.quiz-form__confirm
						.quiz-block
							h3.quiz-block__title.h3 Форма отправлена
							p.body-2.quiz-block__text-confirm Спасибо за участие в опросе.
					.quiz__buttons
						button.base-button.quiz__button--prev.quiz__button#quizPrev(type="button") Назад
						button.base-button.quiz__button.quiz__button--active#quizNext(type="button") Дальше
						button.base-button.quiz__button#quizSubmit(type="submit") Отправить
						a(href="#").base-button.quiz__button#quizBack Вернуться на сайт
